packages/backend/infrastructure/data-source-update-detection.asl.json
{
  "Comment": "Repository monitoring workflow - detects updates for all data sources",
  "StartAt": "ListDetectTargets",
  "States": {
    "ListDetectTargets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ListDetectTargetsFunction.Arn}",
        "Payload": {
          "sourceType": "github"
        }
      },
      "ResultPath": "$.listDetectTargetsResult",
      "OutputPath": "$.listDetectTargetsResult.Payload",
      "Next": "ProcessDataSources",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ]
    },
    "ProcessDataSources": {
      "Type": "Map",
      "ItemsPath": "$.detectTargets",
      "MaxConcurrency": 5,
      "Parameters": {
        "detectTargetId.$": "$$.Map.Item.Value.id"
      },
      "Iterator": {
        "StartAt": "DetectDataSourceUpdates",
        "States": {
          "DetectDataSourceUpdates": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${DetectDataSourceUpdatesFunctionArn}",
              "Payload": {
                "detectTargetId.$": "$.detectTargetId"
              }
            },
            "ResultPath": "$.detectUpdatesResult",
            "OutputPath": "$.detectUpdatesResult.Payload",
            "Next": "CheckForNewActivities",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "HandleDataSourceError",
                "ResultPath": "$.error"
              }
            ]
          },
          "HandleDataSourceError": {
            "Type": "Pass",
            "Result": {
              "status": "failed",
              "message": "Failed to process data source"
            },
            "ResultPath": "$.errorHandled",
            "End": true
          },
          "CheckForNewActivities": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.activityIds",
                "IsPresent": true,
                "Next": "HasNewActivities"
              }
            ],
            "Default": "NoNewActivities"
          },
          "HasNewActivities": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.activityIds[0]",
                "IsPresent": true,
                "Next": "ProcessUpdates"
              }
            ],
            "Default": "NoNewActivities"
          },
          "ProcessUpdates": {
            "Type": "Map",
            "ItemsPath": "$.activityIds",
            "MaxConcurrency": 10,
            "Iterator": {
              "StartAt": "SendToQueue",
              "States": {
                "SendToQueue": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sqs:sendMessage",
                  "Parameters": {
                    "QueueUrl": "${ProcessUpdatesQueueUrl}",
                    "MessageBody": {
                      "activityId.$": "$"
                    }
                  },
                  "Retry": [
                    {
                      "ErrorEquals": ["States.TaskFailed"],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 3,
                      "BackoffRate": 2.0
                    }
                  ],
                  "End": true
                }
              }
            },
            "ResultPath": null,
            "Next": "ProcessUpdatesComplete"
          },
          "ProcessUpdatesComplete": {
            "Type": "Pass",
            "Parameters": {
              "status": "completed",
              "message": "Activities sent to processing queue successfully",
              "timestamp.$": "$$.State.EnteredTime"
            },
            "End": true
          },
          "NoNewActivities": {
            "Type": "Pass",
            "Result": {
              "status": "completed",
              "message": "No new activities to process"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.mapResults",
      "Next": "SummarizeResults"
    },
    "SummarizeResults": {
      "Type": "Pass",
      "Parameters": {
        "status": "completed",
        "timestamp.$": "$$.State.EnteredTime",
        "processedDataSourcesCount.$": "States.ArrayLength($.mapResults)",
        "results.$": "$.mapResults"
      },
      "End": true
    },
    "HandleError": {
      "Type": "Pass",
      "Result": {
        "status": "failed",
        "message": "Failed to list data sources"
      },
      "End": true
    }
  }
}
